<div data-controller="csv">
  <ul role="list" class="divide-y divide-gray-100 dark:divide-white/5"
      data-csv-target="container">
    <% if subscriptions&.any? %>
      <h4 class="font-bold mb-4"><%= subscriptions.count %> subscriptions found</h4>
      <% subscriptions.each do |sub| %>
        <li data-preview-table-row class="flex items-center justify-between gap-x-6 py-5">
          <%= sub[:name] %>
          <%= sub[:amount] %>
          <%= sub[:billing_cycle] %>
          <%= sub[:date_recurrence] %>
          <%= sub[:category] %>
          <button type="button"
                      data-action="csv#removeRow"
                      class="text-red-500 hover:text-red-700 font-medium text-sm transition-colors">
                Remove
              </button>
        </li>
      <% end %>

      <%= form_with url: import_csv_subscriptions_path, method: :post, data: { turbo_frame: "_top" } do |f| %>
        <%= f.hidden_field :parsed_data, value: subscriptions.to_json %>
        <%= f.submit "Submit Subscriptions",
            class: "bg-[#1B2B4B] hover:bg-[#85B7EB] text-white px-4 py-2 w-full rounded" %>
      <% end %>
    <% else %>
      <p class="text-gray-500">No subscriptions found</p>
    <% end %>
  </ul>
</div>
