<% user_subs = current_user.subscriptions.where(category: category) %>
<% insight = current_user.insights.find_by(category: category) %>
<% total = user_subs.sum(:amount) %>

<div class="category-detail">
  <h2 class="text-xl font-semibold"><%= category.name %></h2>
  <p>You're paying $<%= user_subs.sum(:amount)%> each month</p>


  <% if insight %>
    <div class="ai-insight">
      <%= insight.insight_text %>
    </div>

    <div class="subscriptions">
      <% user_subs.each do |sub| %>
        <div>
          <span><%= sub.name %></span>
          <span><%= sub.amount %></span>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
